* {
    box-sizing: border-box;
} 

body {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

.container {
    max-width: 1530px;
    margin: 0 auto;
} 

/*==============_1920_==================*/

/*---------------main-head-----------*/
.main-head {
    background-image: linear-gradient(to top, rgba(10, 14, 52, .9), rgba(10, 14, 52, .9)), url(../img/football_1920_1886.png);
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;
    background-position: center, center 0;
}

.logo-header {
    padding-top: 45px;
    display: flex;
    justify-content: center;
    padding-bottom: 295px;
}

.main-head h1 {
    margin: 0;
    display: flex;
    flex-direction: column;

    padding-bottom: 221px;
}

.main-head h1 span {
    color: white;
    font-family: 'Open sans';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: 5px;
    
    display: block;
}

.main-head h1 span:last-child {
    text-align: end;    
}

/*------buttons--------*/
.main-btns {
    width: 673px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 111px;
}

.main-btns button {
    width: 312px;
    height: 78px;
    background-color: #5E42B0;
    border: none;
    border-radius: 50px;
}

.main-btns button .btn-wrapper {
    display: flex;
    width: 212px;
    height: 48px;
    margin: 0 auto;
}

.main-btns button .btn-wrapper p {
    margin: 0;
    color: white;
    font-size: 14px;
    font-family: 'Open sans';
    font-weight: 400;
    line-height: 16px;
    padding-left: 24px;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-btns .btn-wrapper img {
    width: 42px;
    height: 48px;
}

.main-btns button .btn-wrapper p span {
    display: block;
    text-align: left;
}  

.main-btns button .btn-wrapper p span:last-child {
    display: block;
    text-align: left;
    font-weight: bold;

} 

/*----------------блоки-------------*/

.block {
    height: 225px;
}

.block h1, .block p, .block h2 {
    margin: 0;
    margin-left: 55%;
}

.block h1 {
    font-size: 80px;
    color: #e7e7e7; 
    text-transform: uppercase;

    padding-top: 120px;
}

.block h2 {
    color: #e7e7e7;
    font-size: 36px;
    font-weight: 700;
    display: flex;

    padding-top: 60px;
    padding-bottom: 30px;
}

.block p {
    font-size: 20px;
    color: #000000;
}

p.white {
    color: #ffffff;
}

.block3 {
    background-color: #f6f4fa;
}

.block4 {
    background-color: #5e42b0;
    position: relative;
}

.block h2 span {
    font-family: Arial;
    font-size: 18px;
    color: #000000;
    display: inline-block;
    padding-top: 2px;
    padding-right: 12px;
}

.block h2 span::after {
    content: '';
    display: block;
    height: 5px;
    width: 20px;
    background-color: #5e42b0;
    border-radius: 3px;

    margin-top: 5px;
}

.block h2 .white2::after {
    background-color: white;
}

.block4::after {
    content: '';
    display: block;
    background-image: url(../img/footballer.png);
    width: 565px;
    height: 908px;
    position: absolute;
    top: -640px;
    left: 385px;
}

/*-----------Second-----------------*/

.block-2 h1, .block-2 p, .block-2 h2 {
    margin: 0;
    margin-right: 55%;
}

.block-2 h1, .block-2 p, .block-2 h2 {
    margin: 0;
    margin-right: 55%;
}



.block4-2 {
    background-color: #0a0e34;
    position: relative;
}

.block4-2::after {
    content: '';
    display: block;
    background-image: url(../img/player.png);
    background-repeat: no-repeat;
    width: 991px;
    height: 815px;
    position: absolute;
    top: -600px;
    right: 120px;
}

.block h2 span.white2 {
    color: #9173e6;
}

/*---------------------list-----------------------*/

.row {
    display: flex;
}

.picture, .motivation-text {
    width: 50%;
    height: 727px;
}

.picture {
    position: relative;
}

.pict1 {
    background-image: url(../img/be-active_960.png);
}

.pict2 {
    background-image: url(../img/find-contact_960.png);
}

.pict3 {
    background-image: url(../img/work-it_960.png);
}

.motivation-text h2 {
    margin: 0;
    font-size: 80px;
    color: #e7e7e7; 
    text-transform: uppercase;

    padding-top: 250px;
    padding-bottom: 110px;
    padding-left: 130px;
}

.motivation-text p {
    font-size: 24px;
    padding-left: 130px;
    padding-right: 15px;
}

.picture .mini-block {
    width: 170px;
    height: 150px;
    background-color: #5e42b0;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 210px;
    right: -83px;
}

.mini-block-second {
    left: -83px;
}

.picture .mini-block span {
    font-size: 24px;
    font-weight: 700;
    color: white;
    position: relative;
}

.picture .mini-block span::after {
    content: '';
    display: block;
    width: 24px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    background-color: #8f7bc8;
    bottom: -8px;
}

/*------------footer-------------*/

.main-footer {
    
}









/*===============_768_=================*/

@media screen/* and (min-width: 321px) */and (max-width: 768px) {

    .container {
        max-width: 593px;
        margin: 0 auto;
    } 

    /*---------------main-head-----------*/

    .main-head {
        width: 100%;
    }

    .logo-header {
        padding-top: 39px;
        display: flex;
        justify-content: center;
        padding-bottom: 181px;
    }

    .main-head h1 span {
        font-size: 64px;
        line-height: 64px;
        letter-spacing: 3px;
    }

    .main-head h1 span:last-child {
        text-align: start;
        padding-left: 105px;
    }
}

/*================_320_==================*/

@media screen/* and (min-width: 200px) */and (max-width: 320px) {

    .container {
        max-width: 258px;
        margin: 0 auto;
    } 

    /*---------------main-head-----------*/

    .logo-header {
        padding-top: 33px;
        display: flex;
        justify-content: center;
        padding-bottom: 136px;
    }

    .main-head h1 span {
        font-size: 28px;
        line-height: 28px; 
        letter-spacing: 1px;  
    }

    .main-head h1 span:last-child {
        text-align: start;
        padding-left: 44px;
    }
}